body{
  background: #FFFFFF;
  color: #000000;
  font-size: 11px;
  font-family: 'Verdana', arial, serif;
}
div.ultimo_aggiornamento {
  margin: 10px;
  text-align: center;
  width: 100%
  
}

.alt {
  color: #000000;
  background: #EEEEEE;
}

td {
  padding: 1px;
}

a {
  color: #666666;
}
a:hover {
  color: #FF0000;
}

.name div {
  float: left;
  padding: 2px 4px;
}

.name img {
  float: left;
  
}

.one_pts div {
  float: left;
  padding: 2px 4px;
}

.one_pts img {
  float: left;
}


img.race {
  width: 20px;
}

#container {
  padding: 0 30px;
}

table {
  width: 100%;
  color: #000000;
  font-size: 11px;
  border: 1px solid #999999;
}

table th {
  background: #dddddd;
  font-weight: bold;
  padding: 3px;
  color: #0066FF;
  border-bottom: 1px solid #999999;
  text-align: left;

tr {
  color: #dddddd;
}

.one_wins {
  color: #12E73D;
}
.one_lose {
  color: #E7200E;
}
.one_playeds {
  color: #E9D435;
}

.one {
  text-align: center;
}
